.App {
  text-align: center;
  margin-top: 20rem;
}

.App h1{
  font-size: 4rem;
  color: red;
  font-weight: 700;
}

.nav{
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

sup{
  color: red;
}
.nav ul{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  list-style: none;
  color: blue;
}

.body{
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 600;
  color: greenyellow;
  background-color: azure;
}

.btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin-top: 1rem;
  background-color: rgba(0, 0, 255, 0.171);
  color: red;
  padding: auto;
  font-weight: 700;
  font-size: medium;
  width: 15%;
  height: 3rem;
  border-style: none;
  border-radius: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
